<div class = "flex-column plays-index-content-wrapper" id = "plays-home-wrapper">
		<div class = "plays-index-content">
			<%if @write_permiss%>
				<div id = "new-play-row-wrapper">
					<div id = "new-play-row">
						<div class = "new-play-wrapper">
							<button class = "new-playlist-button" onclick = "new_play_modal()">
	                        	<%= image_tag("play.png", :alt => "information", :class => "new-play-icon") %>
	                      		<div class = "new-play-text">New Play</div>
							<button>
						</div>
						<div class = "new-play-wrapper">
							<button class = "new-playlist-button" onclick = "new_playlist_modal()">
		                        <%= image_tag("playlist-2.png", :alt => "information", :class => "new-play-icon") %>
		                      	<div class = "new-play-text">New Playlist</div>
		                    <button>  	
						</div>
					</div>
				</div>
			<%end%>
			<div class = "plays-and-playlists">
				<div class = "plays-row-wrapper">
					<div class = "plays-row-heading-wrapper">
						<div class = "plays-row-heading">Recently Viewed</div>
						<div class = "see-all-plays-wrapper">
							<button class = "see-all-link " onclick = "all_plays(1)">See All</button>
						</div>
						
					</div>
					<div class = "plays-row" id = "recently-viewed">
						<%counter = 0%>
						<%@recently_viewed.each do |play| %>
							<div class ="play-image-block home-image-block" id = "recently-viewed-<%=play.id%>">
								<div class= "play-index-image" id = "play-image-<%=play.id%>">
									<%= link_to show_vs_edit(play.id), :class => "play-link" do %>
										<%if @recently_viewed_progressions[counter].first%>
											<%= image_tag(@recently_viewed_progressions[counter].first.play_image, :alt => "play", :class => "play-img recently_viewed", :id => counter) if @recently_viewed_progressions[counter].first.play_image.attached?%>
										<%else%>
											<div class = "play-img play-no-img"></div>
										<%end%>
									<%end%>
								</div>
								<div class = "play-link-text"><%= link_to play.name, show_vs_edit(play.id) %></div>
							</div>
							<%counter+=1%>
						<%end%>
					</div>
				</div>
				<div class = "plays-row-wrapper">
					<div class = "plays-row-heading-wrapper">
						<div class = "plays-row-heading">Playlists</div>
						<div class = "see-all-plays-wrapper">
							<button class = "see-all-link" onclick = "view_playlists()">See All</button>
						</div>
					</div>
					<div class = "plays-row" id = "playlists">
						<%@playlist_arr.first(4).each do |playlist|%>
							<button class = "playlist-block" id = 'playlist-home-block-<%=playlist[:playlist].id%>' onclick = "go_to_playlist(<%=playlist[:playlist].id%>)">
								<div class = "playlist-imgs playlist-style-<%=playlist[:playlist].color_scheme%>">
									<div class = "playlist-link-text playlist-link-text-<%=playlist[:playlist].id%>"><%=playlist[:playlist].name%></div>
								</div>
								
							</button>
						<%end%>
					</div>
				</div>
				<div class = "plays-row-wrapper">
					<div class = "plays-row-heading-wrapper">
						<div class = "plays-row-heading">Recently Updated</div>
						<div class = "see-all-plays-wrapper">
							<button class = "see-all-link" onclick = "all_plays(2)">See All</button>
						</div>
					</div>
					<div class = "plays-row" id = "recently-viewed">
						<%counter = 0%>
						<%@recently_updated.each do |play| %>
							<div class ="play-image-block home-image-block" id = "recently-updated-<%=play.id%>">
								<div class= "play-index-image" id = "play-image-<%=play.id%>">
									<%= link_to show_vs_edit(play.id), :class => "play-link" do %>
										<%if @recently_updated_progressions[counter].first%>
										<%= image_tag(@recently_updated_progressions[counter].first.play_image, :alt => "play", :class => "play-img recently_viewed", :id => counter) if @recently_updated_progressions[counter].first.play_image.attached?%>
										<%else%>
											<div class = "play-img"></div>
										<%end%>
									<%end%>
								</div>
								<div class = "play-link-text"><%= link_to play.name, show_vs_edit(play.id) %></div>
							</div>
							<%counter+=1%>
						<%end%>
					</div>
				</div>
			</div>
		</div>
		<div id = "save-changes-banner" class = "play-change-banner"><div id = "playlist-created-text" class = "play-change-text"></div>
		    <object data='<%=asset_path("green-check.svg")%>' type="image/svg+xml" class = "changes-saved-check">
		        <%= image_tag("green-check.svg", :alt => "changes-saved", :class => "changes-saved") %>
		</object></div>
	</div>