<%=render "layouts/small_header"%>
<%if @read_permiss || @write_permiss %>
<div id = "plays-index" class = "page-index">
	<div class = "mobile-product-sidebar-wrapper" id = "plays-mobile-sidebar-wrapper">
		<div class = "mobile-product-sidebar" id = "stats-mobile-sidebar">
			<button class = "sidebar-link sidebar-link-active plays-home-link" id = "plays-home-link"  onclick = "plays_home_hash()"><div class = "sidebar-link-text underline">Plays Home</div></button>
			<button class = "sidebar-link all-plays-link" id = "all-plays-link" onclick = "all_plays_hash()"><div class = "sidebar-link-text">All Plays</div></button>
			<button class = "sidebar-link view-playlists-link"id = "view-playlists-link" onclick = "view_playlists_hash()"><div class = "sidebar-link-text">View Playlists</div></button>
			<button class = "sidebar-link deleted-plays-link" id = "deleted-plays-link" onclick = "deleted_plays_hash()"><div class = "sidebar-link-text">Deleted Plays</div></button>
		</div>
	</div>
	<div class = "sidebar" id = "plays-index-sidebar">
		<div class = "sidebar-links">
			<button class = "sidebar-link sidebar-link-active plays-home-link" id = "plays-home-link"  onclick = "plays_home_hash()"><div class = "sidebar-link-text underline">Plays Home</div></button>
			<button class = "sidebar-link all-plays-link" id = "all-plays-link" onclick = "all_plays_hash()"><div class = "sidebar-link-text">All Plays</div></button>
			<button class = "sidebar-link view-playlists-link"id = "view-playlists-link" onclick = "view_playlists_hash()"><div class = "sidebar-link-text">View Playlists</div></button>
			<button class = "sidebar-link deleted-plays-link" id = "deleted-plays-link" onclick = "deleted_plays_hash()"><div class = "sidebar-link-text">Deleted Plays</div></button>
			<!-- <button class = "sidebar-link"><div class = "sidebar-link-text">Tutorials</div></button> -->
		</div>
	</div>
	<%=render 'plays/index/plays_home'%>
	<%=render 'plays/index/all_plays'%>
	<%=render 'plays/index/view_playlists'%>
	<%=render 'plays/index/deleted_plays'%>
</div>

<%=render 'plays/index/play_modals'%>


<script>
	var play_dom = []

	var playlist_plays = []

	var play_type;

	var play_playlists = []

	var previous_page;

	var curr_page = "home"

	var team_id = <%=@team_id%>;


	var editors = $(".not-editing")
	var curr_playlist;
	var plays_to_add = [];
	var settings_open = false;
	var editing = false;

</script>
<%else%>
Sorry, you do not have permission to view this page.
<%end%>