<%if @stats_read%>
<div id = "stats-index" class = "page-index">
	<div class = "stats-index-sidebar-wrapper">
		<div class = "sidebar" id = "stats-index-sidebar">
			<div class = "sidebar-links">
				<button class = "sidebar-link team-stats-index-link" id = "team-stats-index-link" onclick = "jumpTo('#team-stats-index')"><div class = "sidebar-link-text">Team Stats</div></button>
				<button class = "sidebar-link stat-tables-index-link " id = "stat-tables-index-link"  onclick = "jumpTo('#stat-tables-index')"><div class = "sidebar-link-text ">Box Score</div></button>
				<button class = "sidebar-link shot-charts-index-link"id = "shot-charts-index-link" onclick = "jumpTo('#shot-charts-index')"><div class = "sidebar-link-text">Shot Charts</div></button>
			</div>
		</div>
	</div>
	<div class = "stats-index-content">
		<div class = "team-stats-header" id = "team-stats-header">Game vs. <%=@opponent.name%></div>
		<div class = "mobile-product-sidebar-wrapper" id = "stats-mobile-sidebar-wrapper">
				<div class = "mobile-product-sidebar" id = "stats-mobile-sidebar">
						<button class = "sidebar-link team-stats-index-link" id = "team-stats-index-link" onclick = "jumpTo('#team-stats-index')"><div class = "sidebar-link-text">Team Stats</div></button>
						<button class = "sidebar-link stat-tables-index-link " id = "stat-tables-index-link"  onclick = "jumpTo('#stat-tables-index')"><div class = "sidebar-link-text ">Box Score</div></button>
						<button class = "sidebar-link shot-charts-index-link"id = "shot-charts-index-link" onclick = "jumpTo('#shot-charts-index')"><div class = "sidebar-link-text">Shot Charts</div></button>
				</div>
			</div>
		<div class = "stats-index-content-wrapper " id = "team-stats-index">
			<div id = "team-stats-wrapper">
				
				<div class = "sticky-spacer-middle"></div>
				<div class = "team-stats-basic-wrapper team-stats-wrapper">
					
					<div class = "team-stats-container" id = "basic-team-stats">
						<div class = "team-stats-heading team-basic-heading">Shooting Stats</div>
						<div class = "basic-team-stat-circles">
							<div class = "flex-column center-justified center-aligned  percentage-circle-wrapper">
								<div class = "percentage-circle-header">FG%</div>
								<div class = "fg-percentage-circle percentage-circle" id = "team-fg-percentage-circle"></div>
							</div>
							<div class = "flex-column center-justified center-aligned percentage-circle-wrapper">
								<div class = "percentage-circle-header">FT% </div>
								<div class = "ft-percentage-circle percentage-circle" id = "team-ft-percentage-circle"></div>
							</div>
							<div class = "flex-column center-justified center-aligned percentage-circle-wrapper">
								<div class = "percentage-circle-header">3PT%</div>
								<div class = "three-pt-percentage-circle percentage-circle" id = "team-three-pt-percentage-circle"></div>
							</div>
						</div>
						<div class = "team-stats-heading team-basic-heading">Basic Stats</div>
						<div class = "team-stat-table-wrapper">
							<table class = "stats-table stats-table-1" id = "team-stats-table">
								
							</table>
						</div>
					</div>
				</div>
				<div class = "sticky-spacer-middle" id = "team-basic-advanced-spacer"></div>
				<div id = "team-advanced-wrapper" class = "grid">
					<div class = "team-advanced-wrapper sticky team-advanced-sticky" style="padding-right: 0px" id = "team-advanced-container">
						<div id = "team-advanced-stats" class = "team-stats-container team-advanced">
							
								<div class ="team-stats-heading" id = "team-advanced-heading">
									Team Advanced
								</div>
								<div class = "team-advanced-stats">
									<div class = "team-advanced-ratings team-advanced-container">
										<div id = "offensive-rating" class = "flex-column">
											<div class = "flex-row">
												<div id = "offensive-rating-heading" class = "offensive-rating team-stats-text team-rating-heading">Offensive Rating</div>
											</div>
											<div id = "offensive-rating-value" class = "offensive-rating team-stats-text team-rating-value"></div>
										</div>
										<div id = "defensive-rating" class = "flex-column;">
											<div class = "flex-row">
												<div id = "defensive-rating-heading" class = "defensive-rating team-stats-text team-rating-heading">Defensive Rating</div>
											</div>
											<div id = "defensive-rating-value" class = "defensive-rating team-stats-text team-rating-value"></div>
										</div>
									</div>
									<div class = "team-other-advanced team-advanced-container">
										<div class = "team-stats-text other-advanced-heading">Other Advanced</div>
										<div class = "other-advanced-container">
											
										</div>
									</div>
								</div>
							
						</div>
					</div>
					<div class = "team-advanced-wrapper team-advanced-sticky">
						<div id = "team-four-factors" class = "team-stats-container team-advanced">
							<div class ="team-stats-heading">
								Four Factors
							</div>
							<div class = "four-factors-teams">
								<div class = "flex-row center-justified"><%=@team_name%></div>
								<div class = "flex-row center-justified">Opponents</div>
							</div>
							<div id = "team-shooting-stats-grid" class = "grid">
								<div class = "flex-column four-factors-row-wrapper">
									<div class = "four-factors-heading">Effective FG%</div>
									<div class = "grid four-factors-row">
										<div id = "team-efg" class = "flex-row center-justified"></div>
										<div id = "opponent-efg" class = "flex-row center-justified"></div>
									</div>
								</div>
								<div class = "flex-column four-factors-row-wrapper">
									<div class = "four-factors-heading">Turnover %</div>
									<div class = "grid four-factors-row">
										<div id = "team-tov" class = "flex-row center-justified"></div>
										<div id = "opponent-tov" class = "flex-row center-justified"></div>
									</div>
								</div>
								<div class = "flex-column four-factors-row-wrapper">
									<div class = "four-factors-heading">Offensive Rebound %</div>
									<div class = "grid four-factors-row">
										<div id = "team-orb" class = "flex-row center-justified"></div>
										<div id = "opponent-orb" class = "flex-row center-justified"></div>
									</div>
								</div>
								<div class = "flex-column four-factors-row-wrapper">
									<div class = "four-factors-heading">FT/FGA</div>
									<div class = "grid four-factors-row">
										<div id = "team-ftr" class = "flex-row center-justified"></div>
										<div id = "opponent-ftr" class = "flex-row center-justified"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class = "sticky-spacer-bottom"></div>
			</div>
		</div>

		<div class = "section-spacer" id = "team-box-score-spacer"></div>

		<div class = "stats-index-content-wrapper" id = "stat-tables-index">
			<div class = "player-stat-tables-wrapper">
				<div class = "stats-index-header grid center-aligned team-stats-header-spaced" id = "box-score-index-header">
					<div class = "team-stats-header flex-row center-justified" id = "box-score-page-title"> Box Score</div>
					<div class = "flex-row center-justified">
						<div class = "stat-index-toggle-button-wrapper">
							<select class = "center-aligned stat-index-toggle-button" id = "box-score-button" onchange="toggle_player_table(value);" >
								<option class="flex-row toolbar-dropdown-button" value = "per_game" >Per Game</option>
								<option class="flex-row toolbar-dropdown-button" value = "per_minute" >Per <%=@per_minutes%> Minutes</option>

								<option class="flex-row toolbar-dropdown-button" value = "advanced" >Advanced</option>

							</select>
						</div>
					</div>
				</div>
				
				<div class = "player-stat-tables-container">
					<div class = "player-table-wrapper">
						<table class = "stats-table player-stats-table" id = "per-game-table"></table>
					</div>
					<div class = "player-table-wrapper">
						<table class = "stats-table player-stats-table" id = "adv-player-stats-table"></table>
					</div>
					<div class = "player-table-wrapper">
						<table class = "stats-table player-stats-table" id = "per-minute-table"></table>
					</div>
				</div>
			</div>

		</div>


		<div class = "stats-index-content-wrapper " id = "shot-charts-index">
			<div class = "stats-index-header grid center-aligned team-stats-header-spaced" id = "shot-chart-index-header">
				<div class = "flex-row center-justified">
					<div class = "stat-index-toggle-button-wrapper">
						<select class = "center-aligned stat-index-toggle-button" id = "box-score-button" onchange="show_shot_chart(value);" >
							<option class="flex-row toolbar-dropdown-button" value = "team-<%=@team_id%>" ><%=@team_name%></option>
							<option class="flex-row toolbar-dropdown-button" value = "opponent">Opponents</option>
							<%@players.each do |data|%>
								<option class="flex-row toolbar-dropdown-button" value = "<%=data[:id]%>"><%=data[:nickname]%></option>
							<%end%>

						</select>
					</div>
				</div>
				<div class = "flex-row center-justified team-stats-header" id = "shot-chart-page-title"> Shot Charts</div>
			</div>
			<div class = " flex-row center-justified center-aligned" id = "shot-charts-wrapper">
				<div class = "shot-charts">
					<div id = "shot-trends-team-<%=@team.id%>" class = "index-shot-chart"></div>
					<div id = "shot-trends-opponent" class = "index-shot-chart"></div>
					<%@shot_chart_data.each do |data|%>
					<div id = "shot-trends-<%=data[:member_id]%>" class = "index-shot-chart"></div>
					<%end%>
				</div>
				<div class = "color-key" id = "main-color-key">
					<div class="calibration" role="calibration">
						<div id = "color-key-header">EFG%</div>
				        <div class="group" role="example">
				          <svg width="55" height = "350">
				          </svg>
				                
				        </div>
				    </div>
				</div>
			</div>
		</div>


</div>



<script>
	$(".mobile-product-sidebar-wrapper").css("top", $("#logged-in-header").outerHeight())  
    $(".sticky-spacer-middle").css("top", $("#logged-in-header").outerHeight() + $("#stats-mobile-sidebar-wrapper")[0].offsetHeight)
	var team_stats_table = $("#team-stats-table")[0];
	var per_game_table = $("#per-game-table")[0];
	var per_minute_table = $("#per-minute-table")[0];
	var adv_stats_player_table = $("#adv-player-stats-table")[0];
	var adv_stats_team_table = $("#adv-team-stats-table")[0];
	var curr_basic_button = $("#basic-trend-buttons").children(".trend-button-0")[0]
	var curr_basic_index = 0;

	var display_stats = [];
	var display_stats_adv = []
	var display_stats_team_adv = []
	var minutes_factor = <%=@per_minutes%>;

	var player_stats = [];
	var per_game_stats = [];
	var per_minute_stats = [];

	var team_stat_array = [];
	var team_advanced_stat_array = [];
	var opponent_stat_array = [];

	var team_adv_display_stats = []
	var off_display_stats = []
	var def_display_stats = []
	var curr_player;
	var curr_stat;
	var team_is_opponent = false;

	var jumping = false;


	var court_margin = { left: 0, right: 0, top: 0, bottom: 0};
    var court_width = getCourtWidth();
    var court_height = court_width * 0.7
    var inner_width = court_width - court_margin.left - court_margin.right;
    var inner_height = court_height - court_margin.top - court_margin.bottom;

    var x_offset = court_width / 179;
    var y_offset = court_width / 716;

    var region_spacing = court_width / 179

    var color_array = ["#d10002", "#de2429", "#e7767b", "#f0aaad", "#f7d3d4", "#e4eaf4", "#abbddd" ,"#7c98ca" ,"#5176b8", "#3661ad", "#bdbdbd"]

    var shot_charts = []
    
    $(".index-shot-chart").addClass("shot-chart-deactivated")
    $("#shot-trends-team-<%=@team.id%>").removeClass("shot-chart-deactivated")



	// function init_stat_tables(){
	// 	sort_basic_table(18, true);
	// 	populate_stat_tables(true, false, true);

	// 	$("#per-minute-table").hide();
	// 	$("#adv-player-stats-table").hide()
	// }
</script>

<%else%>
Sorry, you don't have permission to view this page.
<%end%>

