<div class = "modal-overlay" id = "sign-up-overlay" style = "display: none;"></div>
<div class = "modal modal-positioning" id = "sign-up-modal" style = "display: none;">
  <div id = "signup-initializer" class = "modal-container">
    <div class = "GM-modal-wrapper">
      <div class = "modal-header-wrapper">
        <div class = "modal-header" id = "create-account-header">Create Account</div>
      </div>
      <%= bootstrap_form_for(resource, 
       :as => resource_name, 
       :url => registration_path(resource_name)) do |f| %>
      <div class = "modal-inner-content" id = "signup-modal-content">
        <div class = "modal-body ">
          
          <!-- padding top, padding bottom -->
            <div id = "create-account-wrapper">
                <div class = "grid" id = "firstname-lastname">              
                  <%= f.text_field :first_name, 
                           class: 'form-control signup-modal-input' %>
                  <%= f.text_field :last_name, 
                          class: 'form-control signup-modal-input' %>
                </div>
                <%= f.email_field :email, 
                           class: 'form-control signup-modal-input signup-email' %>
                <div class = "needs-input" id = "email-taken" style = "display: none;">*Email has already been taken</div>
                <%= f.password_field :password, 
                                     class: 'form-control signup-modal-input signup-pass' %>
                <%= f.password_field :password_confirmation, 
                                     class: 'form-control signup-modal-input signup-pass-conf' %>
                <div class = "needs-input" id = "password-no-match" style = "display: none;">*Passwords don't match</div>
            </div>

        </div>
      </div>
      <div class = "modal-footing">
      	<div class = "modal-cancel-button" id = "signup-cancel" style = "cursor: pointer;">Cancel</div>
        <div id = "signup-submit-wrapper">
            <%= f.submit 'Sign up', class: 'modal-submit-button modal-submit-button-deactivated' , id: "signup-submit", disabled: true %>
        </div>
        <% end %>
      </div>
      
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#signup-submit").prop("disabled", true)
    $("#signup-submit").addClass("modal-submit-button-deactivated")
    $("#signup-cancel").on("click", function(){
        close_signup_modal()
    })

    var email_verified = false;

</script>